<!-- deprecated. now in modal in allClinicians.hbs -->
<div class="form-wrapper">
  <form action="/clinic" method="post" class="col s12">
    <div class="row">
      <label class="white-text">NAME: </label>
      <input type="text" name="name" value="CLINICIAN">
    </div>

    <div class="row">
      <label class="white-text">START DATE: </label>
      <input type="text" class="datepicker" name="startDate" value="Mar 15, 2018">
    </div>

    <div class="row">
      <label class="white-text">ROLE: </label>
      <input type="text" name="role" value="CURRENT ROLE">
    </div>

    <button class="waves-effect waves-light btn-large" type="submit" name="action">
    ADD NEW CLINICIAN</button>
  </form>
</div>
