A<form action="/clinic/{{patient.clinicianID}}/{{patient._id}}" method="post">

  <label>DAY: </label>
  <input type="number" name="day" value="1">

  <label>READY: </label>
  <input type="number" name="readinessScore" value="100">

  <label>SLEEP HOUR: </label>
  <input type="number" name="sleepHours" value="24">

  <input type="submit" name="ADD NEW DATA">
</form>
