<!-- deprecated. now included in singleClinician.hbs -->
<form action="/clinic/{{clinician._id}}" method="post">
  <label>NAME: </label>
  <input type="text" name="name" value="PATIENT">

  <label>DATE OF BIRTH: </label>
  <input type="text" class="datepicker" name="dateOfBirth" value="Mar 15, 1989">

  <label>PRIMARY DX: </label>
  <input type="text" name="primaryDiagnosis" value="DIAGNOSIS">

  <input type="submit" name="ADD NEW PATIENT">
</form>
