<div class="checkout-container">
    <h1 class="white-text">Place Your Order</h1>
    <div class="checkout-form">
        <form action="/cowbellcandy/" >
            <div class="row">
                <label class="white-text">Name on Card</label>
                <input type="text" placeholder="John Doe" required>
            </div>
            <div class="row">
                <label class="white-text">Card Number</label>
                <input type="number" placeholder="16 digits" maxlength="16" required>
            </div>
            <div class="row">
                <label class="white-text">Expiration Date</label>
                <input type="month" placeholder="month year" required>
            </div>
            <div class="row">
                <label class="white-text">Name on Card</label>
                <input type="text" placeholder="AMEX, Visa, MasterCard, Discover" required>
            </div>
            <div class="row">
                <input type="submit" value="Purchase">
            </div>
        </form>
    </div>
    
</div>