<div class="cowbellInfo">
    <div class="company-title white-text">
        <h1>Cowbell's Clean Candy</h1>
    </div>
    <div class="company-vision white-text">
        {{!-- awaiting images --}}
        <img src="#" alt="candy images">
    </div>
    <div class="company-history white-text">
        <p class="history">
            Cowbell's Clean Candy started as a small candy business in 2016 in Atlanta, Georgia. As an 
            ambitous entrepenuer, Mr. Cowbell took a risky choice in life and decided to make his clean candy
            business a Forbes worthy store. Within six months, Cowbell's Clean Candy was selling
            more candy than it's competitors. While increasing it's revenue, Cowbell's Clean Candy 
            continously grew larger, expanding the store while working to open multiple loactions
            across the US.
        </p>
    </div>



</div>