<div class="cowbellInfo">
    <div class="company-title">
        <h1>Cowbell's Clean Candy</h1>
    </div>
    <div class="company-vision">
        {{!-- awaiting images --}}
    </div>
    <div class="company-history">
        
    </div>
    <div class="company-info">
        <a href="malito:info@cowbellcandy.com">INFO@COWBELLCANDY.COM</a>
        <a href="/">COWBELLCANDY.COM</a>
        <a href="tel:1-888-555-1234">+1 (888) 555-1234</a>
    </div>


</div>