<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Clinic Manager</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <div class="row">
        <nav>
          <div class="nav-wrapper">
            <a href="/clinic/" class="brand-logo"><i class="large material-icons">how_to_reg</i>CLINIC MANAGER</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/clinic/">Home</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
        {{{body}}}
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">What Is Clinic Manager?</h5>
               <p class="grey-text text-lighten-4">
                 A MEHN stack webapp that allows the user to create, update, and delete clinicians, patients, and patient data
                 utilizing MongoDB.
               </p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Links</h5>
             </div>
           </div>
         </div>
      <div class="footer-copyright">
         <div class="container">
           © 2019
           <span class="grey-text text-lighten-4 right">Made By Patick O'Shea, PT</span>
         </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
